*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/* UTILITIES */
.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}
.container-small
{
    width: 60%;
    margin:auto
}
.container-big
{
    width: 80%;
    margin:auto
}
.v-align
{
    vertical-align: middle;
}
.btn
{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 5px 15px;
    font-weight: normal;
}
.mb-40
{
    margin-bottom: 40px;
}
.mt-15
{
    margin-top: 15px;
}
/* NAVBAR */
nav
{
    height: 80px;
    background-color: rgb(255, 255, 255);
    line-height: 80px;
}
.col{
    float: left;
}
.nav-link
{
    text-decoration: none;
    color: black;
}
/* column left */
.nav-col-left
{
    width: 70%;
}
.nav-col-left li,.nav-col-right li{

    display: inline-block;
    margin-left: 35px;
    font-weight: bold;
  
}
/* column right */
.nav-col-right
{
    width: 30%;
}

/* jumbotron */

.jumbotron
{
    background-color: #b4d0e7;
}
.jumbotron h1[class="jumbo-title"]
{
    padding-top: 50px;
    font-size: 80px;
}
.jumbo-text
{
    margin-top: 60px;
    padding-bottom:140px;
}
/* column left */
.jumbo-col-left
{
    width: 40%;
}
.jumbo-col-left p{
    width: 70%;
    font-size: 16px;
    font-weight: bold;
}

/* column right */
.jumbo-col-right
{
    width: 60%;
    position: relative;
}
.jumbo-col-right img
{
   max-width: 100%;
}
.img-container
{
    position: absolute;
    left: 0;
    top:0;
}