*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/* UTILITIES */
.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}
.container-small
{
    width: 60%;
    margin:auto
}
.container-big
{
    width: 80%;
    margin:auto
}
.w-100
{
    width: 100%;
}
.v-align
{
    vertical-align: middle;
}
.t-align-right
{
    text-align: right;
}
.btn
{
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 5px 15px;
    font-weight: normal;
}
.p-20
{
    padding: 20px;
}
.p-30
{
    padding: 30px;
}
.p-50
{
    padding: 50px;
}
.p-100
{
    padding: 100px;
}
.p-150
{
    padding: 150px;
}
.pl-50
{
    padding-left: 50px;
}

.pt-50
{
    padding-top: 50px;
}
.pt-100
{
    padding-top: 100px;
}
.pt-150
{
    padding-top: 150px;
}
.pb-20
{
    padding-bottom: 20px;
}
.pb-50
{
    padding-bottom: 50px;
}
.pb-150
{
    padding-bottom: 150px;
}
.pl-20
{
    padding-left: 20px;
}
.pl-50
{
    padding-left: 50px;
}
.pl-150
{
    padding-left: 150px;
}
.pr-50
{
    padding-right: 50px;
}
.mb-20
{
    margin-bottom: 20px;
}
.mb-30
{
    margin-bottom: 30px;
}
.mb-40
{
    margin-bottom: 40px;
}

.mt-10
{
    margin-top: 10px;
}
.mt-15
{
    margin-top: 15px;
}
.mt-20
{
    margin-top: 20px;
}
.mt-30
{
    margin-top: 30px;
}
.mt-50
{
    margin-top: 50px;
}
.mt-80
{
    margin-top: 80px;
}
.mt-100
{
    margin-top: 100px;
}
.mt-150
{
    margin-top: 150px;
}
.color-gray
{
    color: #d0d0d3;
}
.color-blue
{
    color: #0061ff;
}
.color-white
{
    color:white;
}
.fs-14
{
    font-size: 14px;
}
.fs-16
{
    font-size: 16px;
}
.fs-25
{
    font-size: 25px;
}
.fs-27
{
    font-size: 27px;
}
.fs-45
{
    font-size: 45px;
}
.fs-80
{
    font-size: 80px;
}
/* NAVBAR */
nav
{
    height: 80px;
    background-color: rgb(255, 255, 255);
    line-height: 80px;
}
.col{
    float: left;
}
.col-right{
    float: right;
}
.nav-link
{
    text-decoration: none;
    color: black;
}
/* column left */
.nav-col-left
{
    width: 70%;
}
.nav-col-left li,.nav-col-right li{

    display: inline-block;
    margin-left: 35px;
    font-weight: bold;
  
}
/* column right */
.nav-col-right
{
    width: 30%;
}

/* jumbotron */

.jumbotron
{
    background-color: #b4d0e7;
}
/* column left */
.jumbo-col-left
{
    width: 40%;
}
.jumbo-col-left p{
    width: 70%;
    font-weight: bold;
}

/* column right */
.jumbo-col-right
{
    width: 60%;
}
.jumbo-col-right img
{
   max-width: 100%;
}
.img-container,.jumbo-col-left-content
{
   position: relative;
   top: 80px;
 
}
/* MAIN */

/* radio */
.main-radio-buttons .radio
{
    display: inline-block;
    height:20px;
    width:20px;
    vertical-align: middle;
    
}
.main-radio-buttons label
{
    margin-right: 20px;
    vertical-align: middle;
}
/* columns planes */

.main-col-side
{
    width: 30%;
    border: 1px #d0d0d3 solid;
    height: 1000px;
 
}
.main-col-center
{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px #d0d0d3 solid;
    height: 1000px;
    
}

.main-col-content>h4{

    text-align: center;
    padding: 10px 0;
    border-bottom: 1px #d0d0d3 solid;
}
.main-col-container
{
    margin:30px 20px;
}


.main-col-btn
{
    display: block;
    text-align: center;
}

.main-col-container li{
    list-style-type: none;
}
.col-100
{
    display: inline-block;
    width: 100%;
    border: 1px #d0d0d3 solid;
}
.col-100>h4
{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px #d0d0d3 solid;
}
.section-col-left
{
    width: 70%;
}
.section-col-right
{
    width: 30%;
}

/* trova patner */
.col-partner-left
{
    width: 60%;
}
.col-partner-left img
{
    max-width: 100%;
}
.col-partner-right
{
    width: 40%;
 
}

.col-partner-right h4
{
    line-height: 30px;
    font-weight: bold;
}
.col-partner-right .btn-find-partner,.btn-bottom-jumbotron
{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border: 1px black solid;
    font-weight: bold;
}
/* operations */
.col-operations-side
{
    width: 30%;
}
.col-operations-side img,.col-operations-center img
{
    max-width: 100%;
}
.col-operations-center
{
    width: 40%;
    padding: 0 5%;
}
.col-operations-side h4,.col-operations-center h4
{
    line-height: 30px;
    font-weight: bold;
}
/* columns brand */

.col-side-brand
{
    width: 30%;
    outline:10px solid transparent;
    outline-offset: -10px;
}
.hover:hover
{
  outline-width:10px;
  outline-color: rgba(255, 255, 255, 0.3);
  outline-style: solid;
  outline-offset: -10px;
 
}
.col-side-brand img
{
    width: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(1);
}

/* brands */
.brand-designit
{
  background-color: #a2d39b;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
  
}
.brand-asu
{
  background-color: #61082b;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative;


}
.brand-word-bicycle-relief
{
  background-color: #d5001f;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
}
.brand-hearst-corp
{
  background-color: #b4d0e7;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
 
}
.brand-university-of-florida
{
  background-color: #0093ce;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
}
.brand-topps
{
  background-color: #ff1c1c;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
}
.brand-lonely-planet
{
  background-color: #0d2481;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
}
.brand-clear-channel
{
  background-color: #ffd830;
  width: 50%;
  height: 0;
  padding-bottom : 50%;
  position: relative; 
}
.col-center-brand
{
    width: 40%;
    height: 0;
    padding-bottom: 30%;
    background-color: #f5f5f5;
 
}
.col-center-brand img
{
    width: 20%;
}
/* bottom jumbotron */
.bottom-jumbotron
{
  width: 100%;
  background-color: #b4d0e7;
  display: inline-block
 
}
.col-left-bottom-jumbo
{
  width: 50%;
}
.col-right-bottom-jumbo
{
  width: 50%;
}
.btn-bottom-jumbotron
{
    border:0;
    padding-left: 80px;
    padding-right: 80px;
}
/* faq */
.border-top
{
    border-top: 1px #dcdcde solid;
}
.border-bottom
{
    border-bottom: 1px #dcdcde solid;
}
/* FOOTER */
footer
{
    height: 500px;
    background-color: black;
}
.col-footer
{
    width: calc(20% - 20px);
    margin-right: 10px;
    margin-left: 10px;
}   
.col-footer a
{
   color: white;
   text-decoration: none;
}
.col-footer li
{
   list-style-type: none;
   margin-bottom: 10px;
   margin-top: 10px;
}
